<title>Unmapped</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='ud1.css')}}">
<body>
    <div class="withlocals">
        <h5>Unmapped</h5>
        <br>
        <br>
        <br>
        <span>A platform that connects locals with tourists based off of common interests to provide them with authentic experiences.</span>
        <p class="question">   What will we provide? </p>
        <p class="question"> Authentic experiences that can only be replicated by a local.We are giving you the family and friends experience but in every city you visit.<p>
      </div>
      
      <div class="aboutus">
        <h1> About US: </h1>
        <p id="bio"> We started out in Europe and believe that by the time you finish visiting a city you have created a new lifelong friend. Our motto is a friend in every city. We do three things really well.
        <ol id="list">
          <li>Customized: </li>
            <ul><li>We create custom tailored experiences just for you based off of what you and your party are interested.</li></ul>
          <li>Authentic: </li>
          <ul><li> The locals are going to be showing you around their favorite spots in the city you are visiting. They are giving you a sample of their unique lived experience in their city!</li></ul>
          <li>Cheap: </li>
          <ul><li> Compared to our competitors like Tours By Locals or Experiences from Airbnb our prices are affordable! The more people that joing the experience the cheaper it will be for the whole group!</li></ul>
      </div>
      
      <div class="visitus"> 
        <h1> Visit Us </h1>
        <span>Find more about us <a href="https://www.unmapped.co/">here!</a></span>
        <br>
        <br>
        <p> We hope you can join us on trips like this: <p>
        <br>
        <img src="https://s3.amazonaws.com/fathom_media/photos/Local_Alike_Pai_Boonkam_Eating__big.jpg"/>
      </div>

</body>
